

@charset "utf-8";

body{
  font-family: "Hannari";
  
}

/* navbar */



.navbar{
  background-color: #1e2b58 !important;
}

.navbar-toggler{
  border-color: #ffffff !important;
  background-color: #1e2b58 !important;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo-sm{
  display: none;
}


.nav-link{
  font-weight: bold;
  color: white !important;
  font-size: 1rem;
  margin-right: .5rem;
  margin-bottom: .6rem;
  margin-left: .4rem;
  margin-top: 1rem;
  

}

.nav-link:hover{
  position: relative;
  top:7px;
}

button:focus {
  outline: none;
  
}
/* end navbar */


/* carousel */

.carousel-caption{
  color:#ffffff;
}



.crousel-inner img{
  width:100%;
  height:100%;
}

.carousel-caption h3{
  font-size: 3.2rem;
  border-bottom: 3px solid #fff;

}

.carousel-caption p{
  font-size: 1.4rem;
}

.carousel-caption:hover{
  cursor:pointer;
}






/* end carousel */


/* section1 */


.section1{
  
  background-color: rgb(232, 235, 241);
}

.section1-inner{
  max-width: 1140px;
  margin: 0 auto;
}

hr{
  border:none;
  border-top:dashed 1px #b8b8b8;
  height:1px;
  color:#FFFFFF;
  }

.heading{
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 1.7rem;
  border-bottom: 1px dotted #b8b8b8;
  font-family: "M PLUS Rounded 1c";

}


.btn{
  margin-top: .5rem;
  background-color:#5c6896 !important;
  border-radius:0;
  border: #5c6896;
  transition: all 0.3s ease;
  
}
.news-md a{
  padding: 20px 50px;
  margin-top: 100px;
}

.news-sm a{
  padding: 10px 25px;
  margin-right: 10px;
}

.topics{
  margin-top: .5rem;
  
}

.scroll-list{
  list-style-type: none;
  text-align: center;
}

.scroll-list li a{
  text-decoration: none;
  color: #333333;
}



.scroll-list .title{
  font-size: 1rem;
  font-family: "M PLUS Rounded 1c";
}

.scroll-list li{
  display: block;
}

.scroll-list .category {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 3px 3px;
  line-height: 1rem;
  width: 20%;
  margin:0 1rem;
  font-family: "M PLUS Rounded 1c";

}

.newopen{
  background-color:#d7003a;
}

.service{
  background-color:#3e9920;}

.column2{
  background-color: #333333;
}

.menu{
  background-color: #1e2b58;
}

.info{
  background-color:#f0e68c;
}

.sns{
  background-color: #bb0000;
}

/* end section1 */

/* section2 */
.section2 img{
  position: relative;
}

.section2 img:hover{
  opacity: 0.7;
}

.fa-chevron-circle-right {
  margin-right: 0 !important;
}

.text-comment{
  position: absolute;
  top: 75%;
  left: 10%;
  color: #fff;
  font-size: 1.5rem;
}

.text-comment-sm{
  position: absolute;
  top: 75%;
  left: 10%;
  color: #fff;
  font-size: 1rem;
}


/* end section2 */

/* section3 */


.a-1{
  position: relative;
}

.a-2{
  position: relative;
}

.section3 a:hover{
  opacity: 0.7;
}

.recruit1{
  position: relative;
}
.recruit2{
  position: relative;
}





.recruit-comment1{
  position: absolute;
  top: 0;
  right: 0;
  
  
}

.recruit-comment1 p{
  margin-top: 10px;
  margin-right: 5px;
}


.recruit-comment2{
  position: absolute;
  top: 0%;
  
  
}

.recruit-comment2 p{
  margin-top: 20px;
  line-height: 40px;
}


.recruit-comment1,.recruit-comment2{
  background-color:rgba(30,43,88,0.8);
  
  width: 120px;
  height: 120px;
  color: white;
  font-size: 1.3rem;
}

/* concept */

.sadaya-concept{
  background-size: cover;
  position: relative;
}



.concept-btn{
  position: absolute;
  bottom: 10%;
  left: 3%;
}

.concept-btn a{
  font-size: 1.5rem;
  text-decoration: none;
}


/* end concept */

.card{
  border:none;
}

.card-text{
  height: 80px;
}




/* end section3 */





/* social */
.social a{
  display: inline-block;
  text-decoration: none;
  width:20%;
  box-sizing: border-box;
  text-decoration: none;
  color:#333333 ;
}


.social-title{
  font-size: 1rem;
}

.social-icon{
  font-size: 3rem;
}

.fa-window-restore{
  font-size: .5rem;
}

.fa-facebook{
  color:#3b5998;
}


.fa-twitter{
  color:#00aced;
}


.fa-instagram{
  color:#517fa4
}

.fa-youtube{
  color:#bb0000;
}



/* end social */

/* footer */
footer{
  background-color: #1e2b58;
  height: 125px;
  color: white;
  font-size: .8rem;
  
}

.footer-logo{
  margin-right: 5px;
}

/* end footer */










/* css hover */

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1e2b58;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-bottom2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom2:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  opacity: 0.5;
}
.hvr-sweep-to-bottom2:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


.fa-chevron-circle-right{
  margin-right: 7px;
}

/* end css hover */

/* media */


@media(max-width:544px){
  .nav-link{
    font-weight: bold;
    font-size: .8rem;
    margin-right: .5rem;
    margin-bottom: .3rem;
    margin-left: .4rem;
    margin-top: .6rem;
    
  
  }

  .news-md{
    display: none;
  }

  .logo-sm{
    display:block;
  }

  .logo-md{
    display: none;
  }
  

  .carousel-caption h3{
    font-size: 1.4rem;
    border-bottom: 2px solid #fff;
  
  }

  .carousel-caption p{
    font-size: 1rem;
  }

  .heading{
    font-size: 1.3rem;
  }

  .btn{
    font-size: 1rem;
  }

  .scroll-list .title{
    font-size: .8rem;
  }
  
  
  .scroll-list .category {
    font-size: .8rem;
    padding: 2px 2px;
  
  }

  .navbar-toggler{
    font-size: .7rem;
  }

  .text-comment{
    font-size: 1rem;
  }
  
  .text-comment-sm{
    font-size: 1rem;
  }
  .social-icon{
    font-size: 2rem;
  }



  .social-title{
    margin: 0;
  }

  .concept-btn{
    bottom: 10%;
    left: 5%;
  }
  

  .concept-btn a{
    font-size: .8rem;
    text-decoration: none;
    padding: 3px;
  }



  .social-title{
    width: 25%;
  }

  
  .social p{
    font-size: .5rem;
  }  

  .card-title{
    font-size: 1.3rem;
    height: 20px;
  }

  .card-text{
    font-size: .8rem;
    height: 50px;
  }

  .recruit-btn{
    font-size: .8rem;
    text-decoration: none;
    margin-top: 5rem;
  }

  .recruit-btn:hover{
    text-decoration: none;
  }

  
  

  
}

@media(min-width:544px) and (max-width:768px){
  


  .carousel-caption h3{
    font-size: 2.2rem;
    border-bottom: 2px solid #fff;
  
  }

  .carousel-caption p{
    font-size: 1.2rem;
  }

  .btn{
    font-size: 1.2rem;
  }

  .text-comment{
    font-size: 1.3rem;
  }

  .text-comment-sm{
    font-size: 1.3rem;
  }

  .card-title{
    font-size: 1.3rem;
  }
  
  .card-text{
    font-size: 1rem;
    height: 80px;
  }

  


  .concept-btn a{
    font-size: 1rem;
  }

  .news-md{
    display: none;
  }

  
  







}


@media(min-width:768px){
  .news-sm{
    display: none;
  }

  .text-comment-sm{
    font-size: .9rem;
  }

  .carousel-caption h3{
    font-size: 2.5rem;
    border-bottom: 3px solid #fff;
  
  }
  



}

@media(min-width:992px){
  .text-comment{
    font-size: 1rem;
  }

  .text-comment-sm{
    font-size: 1rem;
  }

}

















